{% comment %}TODO consider https://developers.google.com/custom-search/docs/element{% endcomment %}
{% capture google_search_site %}{{ site.url }}{{ site.baseurl }}/{% endcapture %}
<script>
  (function() {
    var cx = '007592385792275425279:oahkhaukudu';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
<noscript>
	Search <a href="https://www.google.com/search?q=site:{{ google_search_site | cgi_escape }}" target="_blank">Google</a> for:
	<pre><code>search-term site:{{ google_search_site }}</code></pre>
</noscript>
