/* Remove border on hover that causes shifting on centent below tabs
------------------------------------------------------------------- */

article .tabs a {
    border-bottom: 2px solid;
}
.tabs-content h2 {
    font-size: $font-size-h2;
    margin: .5em 0 .6em 0;
}

#footer h5.shadow-black {
    color: #000;
    text-shadow: rgba(255, 255, 255, 0.49804) 0px 1px 10px;
}

span#span-php {
    letter-spacing: -.1em;
    color: #666AA3;
}

i.fa-html5 {
  color: #f14a29;
}

i.fa-css3 {
  color: #1572B6;
}

i.fa-diamond {
  color: #DB2822;
}

div#skills-list {
  h2 {
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
  }
}
