/* Remove border on hover that causes shifting on centent below tabs
------------------------------------------------------------------- */

article .tabs a {
    border-bottom: 2px solid;
}
.tabs-content h2 {
    font-size: $font-size-h2;
    margin: .5em 0 .6em 0;
}

#footer h5.shadow-black {
    color: #000;
    text-shadow: rgba(255, 255, 255, 0.49804) 0px 1px 10px;
}
