/* Contact form iframe height adjustment
------------------------------------------------------------------- */

div.flex-video.contact-form {
    height: 1153px;
}

#logo {
    div.background {
        background-color: white;
        border-radius: 5px;
        display: table;
        margin: auto;
    }
    img {
        transition-duration: .5s;
        transition-property: all;
        &:hover {
            -webkit-filter: grayscale(0);
            filter: grayscale(0);
            border-radius: 20%;
            transform:scale(1.1);
            position:relative;
            z-index:1;
        }
    }
}

#subfooter ul {
    display: inline-block;
}

#masthead-no-image-header .small-12.columns {
    z-index: 1;
}

.alert-box.warning.radius.text-center p {
    clear: both;
}

// Search Page

div#___gcse_0 {
  .gsib_a, .gsib_b {
    padding: 0;
  }
  *, *:before, *:after {
    box-sizing: content-box;
  }
}

// Projects Item

.project-item {
  &> a {
    color: $ci-2;
    &:hover {
      color: $ci-1;
    }
    &> i {
      display: block;
      margin: auto;
      text-shadow: rgba(0, 0, 0, 0.49804) 0px 1px 6px;
    }
    &> h4 {
      text-align: center;
      margin: 4px 0 8px;
    }
  }
  dd {
    margin-left: 0;
  }
  div.content {
    p {
      clear: both;
      border-top: 1px dotted #D7D7D7;
    }
    ul {
      list-style: none;
      margin-left: 0;
    }
  }
}

// Fix topbar covering content of anchor links
*:target:not([id^='fn:']):not([id^='fnref:'])::before {
    content: " ";
    width: 0;
    height: 0;
    display: block;
    padding-top: 50px;
    margin-top: -50px;
}
