/* Contact form iframe height adjustment
------------------------------------------------------------------- */

div.flex-video.contact-form {
    height: 1153px;
}

#logo div.background {
    background-color: white;
    border-radius: 5px;
    display: inline-block;
}
