/* Contact form iframe height adjustment
------------------------------------------------------------------- */

div.flex-video.contact-form {
    height: 1153px;
}

#logo {
    div.background {
        background-color: white;
        border-radius: 5px;
        display: table;
        margin: auto;
    }
    img {
        transition-duration: .5s;
        transition-property: all;
        &:hover {
            -webkit-filter: grayscale(0);
            filter: grayscale(0);
            border-radius: 20%;
            transform:scale(1.1);
            position:relative;
            z-index:1;
        }
    }
}

#subfooter ul {
    display: inline-block;
}

#masthead-no-image-header .small-12.columns {
    z-index: 1;
}

.alert-box.warning.radius.text-center p {
    clear: both;
}
